{% extends 'base.html' %}
{% block content %}
<style type="text/css">
	* {
	margin: 0px;
	padding: 0px;
	}
	.login {

	height: 100vh;
	width: 100%;
	justify-content: center;
	align-items: center;
	display: flex;
	}
	.account-login {
	width: 500px;
	
	}
	.form-control:focus {
	box-shadow: none;
	}
	p a {
	padding-left: 2px;
	}
	.account-login h1 {
	font-size: 50px;
	text-align: left;
	color: black;
	text-transform: uppercase;
	font-weight: bold;
	border-radius: 5px;
	}
	.login-form input {
	width: 100%;
	position: relative;
	border-bottom: 1px solid #a39e9e;
	padding: 0;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	box-shadow: none;
	height: 63px;
	border-radius: 0px;
	}
	.login-form {
	background: #fff;
	float: left;
	width: 100%;
	padding: 40px;
	border-radius: 5px;
	}
	input.btn {
	width: 100%;
	background: #0066ff;
	font-size: 20px;
	padding: 11px;
	color: #fff;
	border: 0px;
	margin: 10px 0px 20px;
	font-weight: bold;
	}
	.btn:hover{
		color: #fff;
		opacity: 0.8;
	}
	p {
	float: left;
	width: 100%;
	text-align: center;
	font-size: 14px;
	}
	.remember {
	float: left;
	width: 100%;
	margin: 10px 0 0;
	}
	@media (max-width: 767px){
	.account-login {
		width: 90%;
	  }
	}
	</style>
	
{% if error %}
<script type = "text/javascript">
alert("{{ error }}")
</script>

<br>
<br>
{% endif %}
	
<!-- <div class="container" id="loginbox"> -->
	<div class="login">
		<div class="account-login">
		   <h1 class="text-center">Login</h1>
		   <form method="post" action="{% url 'login' %}" class="login-form">
			{% csrf_token %}
			  <div class="form-group">
				 <input type="text" placeholder="User Name" class="form-control" name="username">
			  </div>
			  <div class="form-group">
				 <input type="password" placeholder="Password"  class="form-control"name = "password">
			  </div>
			  <div class="remember">
				 <p class="text-right"><a href="{% url 'recovery_pw' %}">비밀번호를 잃어버리셨나요?</a></p>
			  </div>
			  
			  <input type="submit" class="btn btn-primary form-control rounded-pill" value="로그인">
			  <p>아이디가 없으신가요?<a href="{% url 'signup' %}">회원가입</a></p>
		   </form>
		</div>
	</div>
<!-- </div> -->


{% endblock %}