{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}


<div class="container p-2 my-5 rounded-lg shadow-lg">
	<h1 class="text-center">회원가입</h1>
	<br>
 <form method="POST">
	 {% csrf_token %}
	<div class="container">
		<div class="row">
			<div class="col-3">
				<h1></h1>
			</div>
			<div class="col-6">
				 {% bootstrap_form form %}
				 <div class="float-right">
					<button type ="submit" class="btn btn-primary">가입</button>
					<a href="{% url 'home' %}"><button type = "button" class="btn btn-danger">취소</button></a>
				</div>
			</div>
			<div class="col-3">
				<button type ="submit" class="btn btn-dark">중복확인</button>			
			</div>
		</div>
	</div>


	
 </form>
 
</div>
{% endblock %}