{% extends 'base.html '%}
{% load bootstrap4 %}
{% block content %}

<style type="text/css">
	* {
	margin: 0px;
	padding: 0px;
	}
	.login {
	height: 130vh;
	width: 100%;
	justify-content: center;
	align-items: center;
	display: flex;
	}
	.account-login {
	width: 500px;
	border: solid 5px;
	padding-top : 10px;
	background-color: black;

	}
	.form-control:focus {
	box-shadow: none;
	}
	p a {
	padding-left: 2px;
	}
	.account-login h1 {
	font-size: 25px;
	text-align: left;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	border-radius: 5px;
	}
	.login-form input {
	width: 100%;
	position: relative;
	border-bottom: 1px solid #a39e9e;
	padding: 0;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	box-shadow: none;
	height: 63px;
	border-radius: 0px;
	}
	.login-form {
	background: #fff;
	float: left;
	width: 100%;
	padding: 40px;
	border-radius: 5px;
	}
	input.btn {
	width: 100%;
	background: #0066ff;
	font-size: 20px;
	padding: 11px;
	color: #fff;
	border: 0px;
	margin: 10px 0px 20px;
	font-weight: bold;
	}
	.btn:hover{
		color: #fff;
		opacity: 0.8;
	}
	p {
	float: left;
	width: 100%;
	text-align: center;
	font-size: 14px;
	}
	.remember {
	float: left;
	width: 100%;
	margin: 10px 0 0;
	}

	@media (max-width: 767px){
	.account-login {
		width: 90%;
	  }
	}
	</style>


<div class="login">
    <div class="account-login">
<h1 class="text-center">회원 정보 수정</h1>
<br>
<form method="POST" class="login-form">
    {% csrf_token %}
    <div class="container">
        
        <div class="form-group">
        {% bootstrap_form user_change_form %}
        <input type = "submit" class="btn btn-primary float-right" value = "정보수정"/>
        </div>
        
    </div>
    </div>
</form>
</div>
{% endblock %}