{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
<style>
    #maintable{
        margin-top:3rem;
    }
</style>
<form action="" method="POST">
    {% csrf_token %}
<div class="container" id="maintable">
    <div class="card">
        <div class="card-header">
            <strong>메뉴 생성</strong>
        </div>
        <div class="card-body">
            <!-- URL : {{ form.url }} -->
            <!-- 우선순위 : {{ form.menu_rank }} -->
            {% bootstrap_form form %}
        </div>
        <div class="card-footer">
            <a type="submit" href = "{% url 'menu:menu_list' %}"class="btn btn-secondary float-right">메뉴 목록</a>
            <!-- <span>&nbsp;</span> -->
            {% if edit %}
            <button type="submit" id="write" class="btn btn-primary float-right">{{ edit }}</button>
            {% else %}
            <button type="submit" id="write" class="btn btn-primary float-right">작성하기</button>
            {% endif %}
        </div>
    </div>
    
</div>
</form>

<script type="text/javascript">
    var checkUnload = true;
    $(window).on('beforeunload', function () {
        if (checkUnload) return "이 페이지를 벗어나면 작성된 내용은 저장되지 않습니다.";
    });
    $("#write").on("click", function () {
        checkUnload = false;
        $("submit").submit();
    });
</script>
{% endblock %}