{% extends 'base.html' %}
{% block content %}

<style>

</style>

<table class="table table-hover" id = "maintable">
    <thead>
        <tr class="text-center">
            <th>우선순위</th>
            <th>메뉴이름</th>
            <th>URL</th>
            <th>작성일시</th>
        </tr>
    </thead>
    <tbody>
        {% if menu_list %}
        {% for menu in menu_list %}
        <tr class="text-center">
            <td>{{ menu.menu_rank }}</td>
            <td>{{ menu.title|truncatechars:30 }}</td>
            <td>{{ menu.url }}</td>
            <td>{{ menu.registered_date|date:'Y.m.d'}}</td>
        </tr>
        {% endfor %}
        {% else %}
        <tr class="text-center">
            <td colspan="5">작성된 메뉴가 없습니다.</td>
        </tr>
        {% endif %}
    </tbody>
</table>



{% endblock %}