{% extends 'base.html' %}

{% block content %}

{% if not cart_items %}
<div>
    <div class="text-center">
        <br>
        <h1 class="text-center">장바구니에 차트가 없습니다.</h1>
        <br>
        <p class="text-center">
            다음 링크에서 장바구니를 채워주세요 <a href="{% url 'chart:chart_list' %}">here</a> to continue choice.
        </p>
    </div>
</div>
{% else %}
<div>
    <div class="text_center">
        <br>
        <h1 class="textcenter">
            차트 장바구니
        </h1>
        <br>
    </div>
</div>

<table class="table table-hover" >
    <thead>
        <tr class="text-center">
            <th>우선순위</th>
            <th>차트이름</th>
            <th>URL</th>
            <th>삭제</th>
            <!-- <th>작성일시</th> -->
        </tr>
    </thead>
    <tbody>
        {% for cart_item in cart_items %}
        <tr class="text-center">
        <td>{{ cart_item.chart.chart_rank }}</td>
        <td>{{ cart_item.chart.chart_title|truncatechars:30 }}</td>
        <td>{{ cart_item.chart.chart_url }}</td>
        <td><a href="{% url 'cart:cart_remove' cart_item.chart.id %}" class="btn btn-outline-danger"><span class="fas fa-trash-alt"></span></a></td>
        <!-- <td>{{ cart_item.date_added|date:'Y.m.d' }}</td> -->

        </tr>
    </tbody>
    {% endfor %}
{% endif %}


{% endblock %}